.container {
  min-height: 90vh;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #0f4a7b;
  margin: 60px 0;
  padding: 0 50px;
  background: #f9fbfd;
}

.close {
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

.close-ico {
  color: #3e3e40;
  margin: 0 -20px 0 0;
  padding: 0;
}

.close-ico:hover {
  cursor: pointer;
  color: #0f4a7b;
}

.title-container {
  height: 10vh;
  width: 100%;
}

.page-title {
  font-size: 24px;
  color: #0f4a7b;
  margin: 0 0 6px 0;
  padding: 0;
}

.sub-text {
  font-size: 12px;
  color: #3e3e40;
  margin: 0;
  padding: 0;
}

.form-container {
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-submit {
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 25px 0;
  padding: 0;
}

.form-submit-btn {
  height: 30%;
  width: 100%;
  border: none;
  color: white;
  background: #0f4a7b;
}

.form-submit-btn:hover {
  cursor: pointer;
  background: rgba(15, 74, 123, 0.9);
}
