.circles-container {
  position: absolute;
  top: 8vh;
  right: 12.6vw;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
}

.circle-one {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 3px solid #62becb;
  margin: 0 8px;
  padding: 0;
}

.circle-two {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 3px solid #dd4033;
  margin: 0 8px;
  padding: 0;
}

.circle-three {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 4px solid #62becb;
  margin: 0 8px;
  padding: 0;
}
