.form-group {
  height: 10vh;
  width: 100%;
  color: #0f4a7b;
  font-weight: 600;
  margin: 10px 0;
}

.form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 0.5px solid #0f4a7b;
  border-radius: 6px;
  box-sizing: border-box;
  background: #ffffff;
}

.form-input option {
  width: 100%;
  outline: none;
  border: 0.5px solid #0f4a7b;
}
